// Colors
$white: rgb(243, 243, 243);
$greyish-white: #b6b6b6;
$black: #0c0c0c;
$darker-grey:#004445;
$medium-grey:#005040;
$light-grey-transparent:rgba(225, 225, 225, 0.2);

$highlight: #6807f9;
$light-blue: #9852f9;
$lighter-blue:#c299fc;

$green:#4CAF50;
$yellow: #ffd739;
$yellow-orange:#ffd800;

//heights and widths
$navbar-height: 16vh;
$keyboard-height: 36vh;
$visual-height:27vh;