// Colors
$white: #e6e3e3;
$black: #0c0c0c;
$highlight: #6807f9;
$dark-grey:#004445;
$light-blue: #9852f9;
$lighter-blue:#c299fc;
$yellow: #ffd739;
$yellow-orange:#ffd800;

//heights and widths
$navbar-height: 16vh;
$keyboard-height: 38vh;
$visual-height:27vh;