// Colors
$white: rgb(243, 243, 243);
$greyish-white: #b6b6b6;
$black: #0c0c0c;
$black2:#2B2D2E;
$darker-grey:#004445;
$medium-grey:#005040;
$light-grey-transparent:rgba(225, 225, 225, 0.1);

$highlight: #520567;
$blue0:#E186F9;
$blue1: #430599;
$blue2:#4504A6;
$pink:rgb(255, 0, 212);

$green:#4CAF50;
$yellow: #ffd739;
$yellow-orange:#CCAD00;

//heights and widths
$navbar-height: 16vh;
$keyboard-height: 36vh;
$visual-height:27vh;