.hamburger{
    background-color: $highlight;
    padding: 4px 7px;
    border-radius: 20%;
    border-style: none;
    color:$white;
    display: none;
}

@media(max-width:920px){
    .hamburger{
        display: block;
    }
}
.fa-arrow-right, .fa-arrow-left{
    color: white;
    border-style: none;
}
.visual-button{
    @include circular-button($yellow-orange, 15px, 50px);
    border-style: none;  
}

.modal-buttons {
    padding-top: 4px;
}

.play{
    position: relative;
    &::after{
        content: "Play and observe the Morse Code and select its key.";
        display: block;
        position: absolute;
        background-color: rgba(0,0,0,0.8);
        width: 193px;
        transform: translate(-91%,41%) rotateZ(-5deg);
        border-radius: 15px 0 15px 15px;        
    }
}
.hide-tooltip{
    &::after{
        display: none;
    }
}
.level-button{
    @include circular-button($blue1, 20px, 50px);
    border-style: none;
}
.fa-window-close-button{
    position: absolute;
    right: 30px;
    top:30px;
    width: 33px;
    height: 33px;
    background-color: $pink;
    border-style: none;
}