#keyboard{
    height: $keyboard-height;
    background-color: $light-blue;
    .keyboard-div{
        height:100%;
        text-align: center;
        .keyboard{
            height:fit-content;
            border-radius: 1%;
            background: $darker-grey;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.502);
            user-select: none;
            text-align: center;
            padding: 1px;
            .keyboard__key{
                height: fit-content;
                width: 9.2%;
                max-width: 90px;
                margin:1px;
                margin-bottom: 2px;
                border-radius:4px;
                border: none;
                background: $light-grey-transparent;
                color: $greyish-white;
                font-size: 1.05rem;
                outline: none;//to remove the outline when you touch the key in mobile
                cursor: pointer;
                @media (max-width:318px){
                    min-width:28.5px;
                }
                .answer{
                    color: $lighter-blue;
                    font-size: 10px; 
                    visibility: visible;
                    @media (min-width:595px){
                        font-family: 'Asset', cursive;
                        font-size: 8px; 
                    }
                }
            }
        }
    }
}
//progress bar properties are in separate .scss files