.navbar{
    @include flex-center();
    flex-direction: row;  
    justify-content: space-between;
    .logo-div{
        @include flex-center();
        line-height: 0px;
    }
    .logo-box{
        height: 60px;
        width: 60px;
        background-color: $dark-grey;
        border-radius: 50%;
        margin-right: 10px;
        @include flex-center();
    }
    .logo{
        width:60px;
    }
    
    .main-menu{
        display: flex;
    }
    li{
        
        padding: $navbar-height/4 20px;
        border-radius: 3%;
    }
    li:hover{
        background-color: $dark-grey;
        transition: background-color 0.5s ease;
    }
    li::after{
        content: '';
        display: block;
        height: 3px;
        width: 0;
    }
    li:hover::after {
        width: 100%;
        background-color: $white;
        transition: width .5s;
    }
    a{ 
        color:$white;
        text-decoration: none;
        font-size: 20px;
    }
}

