.progress-bar{
    max-width: 100%;
    height: 4px;
    background-color: #4CAF50;
}
.width-1{
    width:100%;
}
.width-2{
    width:100%;
}
.width-3{
    width:100%;
}
.width-4{
    width:100%;
}
.width-5{
    width:100%;
}
.width-6{
    width:100%;
}
.width-7{
    width:100%;
}
.width-8{
    width:100%;
}
.width-9{
    width:100%;
}
.width-0{
    width:100%;
}
.width-Q{
    width:100%;
}
.width-W{
    width:100%;
}
.width-E{
    width:100%;
}
.width-R{
    width:100%;
}
.width-T{
    width:100%;
}
.width-Y{
    width:100%;
}
.width-U{
    width:100%;
}
.width-I{
    width:100%;
}
.width-O{
    width:100%;
}
.width-P{
    width:100%;
}
.width-A{
    width:100%;
}
.width-S{
    width:100%;
}
.width-D{
    width:100%;
}
.width-F{
    width:100%;
}
.width-G{
    width:100%;
}
.width-H{
    width:100%;
}
.width-J{
    width:100%;
}
.width-K{
    width:100%;
}
.width-L{
    width:100%;
}
.width-eq{
    width:100%;
}
.width-Z{
    width:100%;
}
.width-X{
    width:100%;
}
.width-C{
    width:100%;
}
.width-V{
    width:100%;
}
.width-B{
    width:100%;
}
.width-N{
    width:100%;
}
.width-M{
    width:100%;
}
.width-com{
    width:100%;
}
.width-dot{
    width:100%;
}
.width-q{
    width:100%;
}

