//Put all your preferred defaults for html-tags here 
body{
    background-color: $highlight;
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
li{
    list-style: none;
}
br {
    display: block;
    height: 3px;
 }