//Put all your preferred defaults for html-tags here 
body{
    background-color: $highlight;
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
li{
    list-style: none;
}
pre{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30vh;
    text-transform: uppercase;
}