section{
    &#navbar{
        background-color: $light-blue;
        height: $navbar-height;
        min-height: 70px;
        @include flex-center();
    }
    &#level-board{
        background-color: aqua;
        height: 60px;
    }
    &#visual{
        height: $visual-height;
    }
    &#keyboard{
        height: $keyboard-height;
        
    }
    &#keyboard{
        background-color: $light-blue;
    }
    &#love-msg{
        height: 30px;
    }
}
